<form #loginForm="ngForm" class="login-page centered-container" (ngSubmit)="login1()">
    <span>Login</span>
    <input class="form-control" type="text" name="userLogin" [(ngModel)]="userLogin" required #login="ngModel">
    <div *ngIf="login.errors && (login.dirty || login.touched)" class="warning-display">
        <div [hidden]="!login.errors.required">
            Login is required
        </div>
    </div>
    <span>Pssword</span>
    <input class="form-control" type="password" name="userPassword" [(ngModel)]="userPassword" required #password="ngModel">
    <div *ngIf="password.errors && (password.dirty || password.touched)" class="warning-display">
        <div [hidden]="!password.errors.required">
            Password is required
        </div>
    </div>
    <button type="submit" [disabled]="!loginForm.form.valid || !userLogin || !userPassword">Login</button>
</form>