.login-page {
    align-items: center;
    padding: 10px;
    flex-direction: column;
}

.login-page input {
    margin: 7px 10px 7px 0;
    height: 28px;
    width: 250px;
    border-radius: 14px;
    border: 2px solid lightgray;
}

.login-page button {
    height: 28px;
    min-width: 110px;
    border-radius: 14px;
    border-style: none;
    font-size: 15px;
    font-family: cursive;
}

.ng-valid[required],
.ng-valid.required {
    border-left: 5px solid #42A948;
    /* green */
}

.ng-invalid:not(form) {
    border-left: 5px solid #a94442;
    /* red */
}

.warning-display {
    color: red;
    padding-bottom: 4px;
}