<header class="top-bottom-bordered">
    <div class="site-header centered-container">
        <div class="site-name">
            <img src="./assets/img/logo.jpg" alt="Bird - Scientist">
            <h1>Bird - Scientist</h1>
        </div>        
        <div class="user-toolbar" *ngIf="authorizationService.isAuthenticated()">
            <span class="user-name">{{userInfo}}</span>
            <a href="" (click)='logout($event)'>log off</a>
        </div>
        <div class="user-toolbar" *ngIf="!(authorizationService.isAuthenticated())">
            <a [routerLink]=" ['./login'] ">log in</a>
        </div>
    </div>
    <breadcrumbs-component class="centered-container"></breadcrumbs-component>
</header>