<article [ngClass]="{'top-rated': course.topRated}" class="course centered-container" [borderHighlighter]="course.startDate">
    <div class="course-info">
        <div class="course-header">
            <h3>{{course.name | uppercase}}</h3>
            <span class="course-duration">{{course.duration  | myDurationFormatter}}</span>
            <img src="../assets/img/star.png" *ngIf="course.topRated" alt="Star">
            <span class="course-start-date">{{course.startDate | date}}</span>
        </div>
        <p>{{course.description}}</p>
    </div>
    <div class="course-buttons">
        <!--<a [routerLink]="['/courses', course.id]"><button (click)="deleteCourse()">Add course</button></a>-->
        <button (click)="goToCourseDetails()">Edit</button>
        <button (click)="deleteCourse()">Delete</button>
    </div>
</article>