<article class="course centered-container">
    <div class="course-info">
        <div class="course-header">
            <h3>{{course.name}}</h3>
            <span class="course-duration">{{course.duration}} min</span>
            <span class="course-start-date">{{course.startDate | date}}</span>
        </div>
        <p>{{course.description}}</p>
    </div>
    <div class="course-buttons">
        <button>Edit</button>
        <button (click)="deleteCourse()">Delete</button>
    </div>
</article>