<form #AddEditCourse="ngForm" class="add-course login-page centered-container">
    <div class="data"><span>Title</span>
        <input class="form-control" type="text" id="title" required [(ngModel)]="model.name" name="title"></div>
    <div class="data"><span>Description</span>
        <textarea class="form-control" id="description" required></textarea></div>
    <div class="data"><span>Date</span><input type="text"></div>
    <div class="data"><span>Duration</span><input type="text"></div>
    <div class="button-container"><button>Save</button>
        <a [routerLink]=" ['/courses'] "><button>Cancel</button></a>
    </div>
</form>