<form [formGroup]="addEditCourseForm" class="add-course centered-container" (ngSubmit)="addCourse()">
    <div class="data"><span>Title</span>
        <input type="text" id="title" formControlName="title">        
    </div>
    <div *ngIf="addEditCourseForm.get('title').touched || addEditCourseForm.get('title').dirty">
            <div *ngIf="addEditCourseForm.get('title').errors?.required">
                Title is required
            </div>
            <div *ngIf="addEditCourseForm.get('title').errors?.maxlength">
                Title must be maximum 50 characters
            </div>
        </div>
    <div class="data"><span>Description</span>
        <textarea  id="description" formControlName="description"></textarea></div>
         <div *ngIf="addEditCourseForm.get('description').touched || addEditCourseForm.get('description').dirty">
            <div *ngIf="addEditCourseForm.get('description').errors?.required">
                Description is required
            </div>
            <div *ngIf="addEditCourseForm.get('description').errors?.maxlength">
                Description must be maximum 500 characters
            </div>
        </div>
    <div class="data"><span>Date</span>
        <date-input id="date" formControlName="date"></date-input></div>
         <div *ngIf="addEditCourseForm.get('date').touched || addEditCourseForm.get('date').dirty">
            <div *ngIf="addEditCourseForm.get('date').errors?.required">
                Date is required
            </div>
            <div *ngIf="addEditCourseForm.get('date').errors?.invalidDateFormat">
                Date must be "dd/mm/yyyy" format
            </div>
        </div>
    <div class="data"><span>Duration</span>
    <duration-input formControlName="duration" [duration]="duration"></duration-input></div>
    <div *ngIf="addEditCourseForm.get('date').touched || addEditCourseForm.get('date').dirty">
            <div *ngIf="addEditCourseForm.get('date').errors?.required">
                Duration is required
            </div>
        </div>
    <div class="data"><span>Authors </span>
    <author-checkbox formControlName="authors" [authors]="allAuthors"></author-checkbox>
    </div>
        <div *ngIf="addEditCourseForm.get('authors').touched || addEditCourseForm.get('authors').dirty">
            <div *ngIf="addEditCourseForm.get('authors').errors?.isEmpty">
                Please, choose authors
            </div>            
        </div>
    <div class="button-container">
        <button type="submit" [disabled]="!addEditCourseForm.valid">Save</button>
        <a [routerLink]=" ['/courses'] "><button>Cancel</button></a>
    </div>
</form>